header {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    background-color: #5acf8f;
    padding: 15px;
  }
  
  p {
    padding: 20px;
    font-size: large;
  }
  
  body {
    background-color: linen;
  }
  
  h1 {
    text-align: center;
    color: blue;
  }

  h3 {
    text-align: center;
    color:darkblue;
    font-size: 18px;
  }
  
  nav {
    text-align: center;
    font-size:initial;
    background-color: #42c47c;
    grid-row: 2;
    padding: 15px;
    margin: 10px 0;
  }
  
  nav a {
    color: white;
    padding: 15px 50px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #111111;
  }
  
  nav a:active {
    background-color: #01a739;
  }
  
  .container {
    display:grid;
    grid-template-rows: 2fr 2fr;
    gap: 20px;
    width: 100%;
    height: 10%;
  }

  .section {
      text-align: center;
      font-size: 20px;
      margin: 10px 5;
      background-color: #5acf8f;
      padding: 15px;
    
  }