<!DOCTYPE html>
<html>

    <head>
        <title>View Functions</title>
        <meta http-equiv="Content-Type" content="text/javascript; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>             
        <script  src="script.js" defer type="module"></script>
    </head>

    <body>   

        <div id=content></div>

        <button id="action"></button>
        
        <script id="people-list-template" type="text/x-handlerbars-template">
            <table>    
                {{#each people}}
                <tr><td>{{name}}</td> <td>{{age}}</td></tr>
                {{/each}}
            </table>        
        </script>

    </body>

</html>